body {
    width: 1920px;
    height: 4850px;
    /* common styles */
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* header styles */
header {
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    padding-left: 240px;
    padding-right: 240px;
    display: flex;
    justify-content: space-between;
}

.flower {
    width: 635px;
    height: 850px;

}

.heading_style {
    width: 750px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-top: 100px;
}


.para_style {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.btn_primary {
    color: #FFF;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0;
    gap: 10px;
    border-radius: 8px;
}

/* main section styles */
main {
    padding-right: 240px;
    padding-left: 240px;
}

.featured_flower {
    text-align: center;
    width: 1440px;

}

.common_title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

#para2 {
    padding-right: 240px;
    padding-left: 430px;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 25px;
}

.flower_container {
    display: flex;
    margin-right: 25px;
    width: 1440px;
    /* height: 320px; */
}

.flower_container div {
    margin-right: 50px;
}

figcaption {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
}

.f_flower1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.f_flower2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.f_flower3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower1 {
    width: 300px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}

.flower2 {
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
}

.flower3 {
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}

figcaption {
    text-decoration: none;
}

.info {
    display: flex;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 130px;
    padding: 90px 175px 0px 175px;
    gap: 270px;
}

.info_pic {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
}

.para_style2 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
}

.deal {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    width: 1920px;
    height: 850px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}